﻿@page "/"
<center><h1><img src="https://cdn4.iconfinder.com/data/icons/infographics-chart-3/512/7-64.png" />  Tablero de mediciones</h1></center>
<div class="row">
    <div class="col-3">
        <RadzenCard>
            Actualización: @ahora.ToLongTimeString()
        </RadzenCard>
    </div>
    <div class="col-2">
        <RadzenCard>
            Dispositivos: @dispositivos.Count
        </RadzenCard>
    </div>
    <div class="col-2">
        <RadzenCard>
            Usuarios: 16
        </RadzenCard>
    </div>
    <div class="col-4">
        <RadzenCard>
            Siguiente actualización: @ahora.AddSeconds(segundos).ToLongTimeString()
        </RadzenCard>
    </div>
</div>

<br/>

<RadzenCard>
    <div class="row">
        <center><h2>Últimos valores</h2></center>
    </div>
    <div class="row">
    @foreach (var item in datos)
    {
        <div class="col-3">
            <RadzenCard>
                <center>@item.Ubicacion<br />@item.Elemento</center>
                <RadzenRadialGauge Style="width: 100%; height: 300px;">
                    <RadzenRadialGaugeScale StartAngle="-150" EndAngle="150" Step="10" Min="0" Max="100" TickPosition="GaugeTickPosition.Outside">
                        <RadzenRadialGaugeScalePointer Value=@item.Valor Length="0.6">
                            <Template Context="pointer">
                                <h4>
                                    @if (item.Elemento == "Temperatura")
                                    {
                                        @pointer.Value <sup>°C</sup>
                                    }
                                    else
                                    {
                                        @pointer.Value <sup>%</sup>
                                    }
                                </h4>
                            </Template>
                        </RadzenRadialGaugeScalePointer>
                        <RadzenRadialGaugeScaleRange From="0" To="50" Fill="green" />
                        <RadzenRadialGaugeScaleRange From="50" To="85" Fill="orange" />
                        <RadzenRadialGaugeScaleRange From="85" To="100" Fill="red" />
                    </RadzenRadialGaugeScale>
                </RadzenRadialGauge>
                <center>@item.FechaHora</center>
            </RadzenCard>
        </div>        
    } 
    </div>
</RadzenCard>
<br />
<RadzenCard>
    <center><h2>Temperatura en Cuarto 10</h2></center>
    <RadzenChart>
        <RadzenLineSeries Smooth="true" Data="@temperaturas" CategoryProperty="FechaHora" Title="°C" ValueProperty="Valor" RenderingOrder="1">
            <RadzenSeriesTrendLine Visible="true" Stroke="var(--rz-danger-dark)" LineType="LineType.Dashed" />
            <RadzenSeriesMeanLine Visible="true" Stroke="var(--rz-info-dark)" LineType="LineType.Dotted" />
        </RadzenLineSeries>
        <RadzenCategoryAxis Padding="20"  />
        <RadzenValueAxis>
            <RadzenGridLines Visible="true" />
            <RadzenAxisTitle Text="Temperatura °C" />
        </RadzenValueAxis>
    </RadzenChart>
</RadzenCard>
<br />
<RadzenCard>
    <center><h2>Humedad en Cuarto 10</h2></center>
    <RadzenChart>
        <RadzenLineSeries Smooth="true" Data="@humedades" CategoryProperty="FechaHora" Title="%" ValueProperty="Valor" RenderingOrder="1">
            <RadzenSeriesTrendLine Visible="true" Stroke="var(--rz-danger-dark)" LineType="LineType.Dashed" />
            <RadzenSeriesMeanLine Visible="true" Stroke="var(--rz-info-dark)" LineType="LineType.Dotted" />
        </RadzenLineSeries>
        <RadzenCategoryAxis Padding="20" />
        <RadzenValueAxis>
            <RadzenGridLines Visible="true" />
            <RadzenAxisTitle Text="Humedad %" />
        </RadzenValueAxis>
    </RadzenChart>
</RadzenCard>

@code {
    RepositorioLecturas repoLecturas;
    RepositoryDispositivos repoDispositivos;
    List<Dispositivo> dispositivos=new List<Dispositivo>();
    List<DatoLectura> datos= new List<DatoLectura>();
    List<DatoLectura> temperaturas = new List<DatoLectura>();
    List<DatoLectura> humedades = new List<DatoLectura>();
    int segundos = 30;
    DateTime ahora=DateTime.Now;
    Timer timer;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        repoDispositivos = new RepositoryDispositivos();
        repoLecturas = new RepositorioLecturas();
        dispositivos = repoDispositivos.ObtenerTodos.ToList();
        datos = repoLecturas.ObtenerUltimosValores().ToList();
        temperaturas = repoLecturas.ObtenerElementoDeUbicacion("Cuarto10", "Temperatura").ToList();
        humedades = repoLecturas.ObtenerElementoDeUbicacion("Cuarto10", "Humedad").ToList();
        timer = new Timer((_) =>
        {
            ahora = DateTime.Now;
            dispositivos = repoDispositivos.ObtenerTodos.ToList();
            datos = repoLecturas.ObtenerUltimosValores().ToList();
            temperaturas = repoLecturas.ObtenerElementoDeUbicacion("Cuarto10", "Temperatura").ToList();
            humedades = repoLecturas.ObtenerElementoDeUbicacion("Cuarto10", "Humedad").ToList();
            InvokeAsync(() =>
            {
                StateHasChanged();
            });
        }, null, 0, 1000 * segundos);
    }
}