﻿@inherits LayoutComponentBase

<PageTitle>DashboardWeb</PageTitle>

<div class="page">
   

    <main>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
